.article {
  padding: var(--margin--md) var(--margin--xl);
  background: var(--white-color);
  box-shadow: var(--box-shadow--md);
  border: 1px solid var(--border-color);
}

.tags {
  font-size: var(--text--sm);
}
