.dashboard {
  --dashboard-info-bg: #cce9e5;
  --dashboard-tabs-border-c: #cecece;
  --dashboard-tabs-border-c--active: #1789fc;
}

[data-theme="dark"] {
  .dashboard {
    --dashboard-info-bg: #2b3130;
  }
}

.dashboard {
  width: 100%;
  margin-top: var(--margin-md);
}

.dashboard__helper-text {
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__options {
  display: flex;
  gap: 32px;
}

.dashboard__option {
  background: var(--dashboard-info-bg);
  padding: 48px 32px;
  display: flex;
  flex-direction: column;

  h2,
  button {
    margin-inline: auto;
  }

  button {
    margin-top: var(--margin-lg);
  }
}

.dashboard__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dashboard__info-messages {
  text-align: right;
}

.dashboard__actions {
  display: flex;
  gap: 16px;
}

.dashboard__tabs {
  margin-top: 32px;

  ul {
    display: flex;
    gap: var(--margin-md);
    list-style-type: none;
    padding-inline: 0;
    border-bottom: 1px solid var(--dashboard-tabs-border-c);
  }
}

.dashboard__tab button {
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  color: var(--main-heading-c);
  cursor: pointer;
  padding: 8px;
}

.dashboard__tab {
  border-bottom: 1px solid transparent;
  transition: border-color var(--transition);

  &--is-active {
    border-bottom-color: var(--dashboard-tabs-border-c--active);
  }
}

.dashboard__file {
  margin-top: 32px;
  display: flex;
  gap: 64px;

  > * {
    flex: 1;
  }

  div:nth-child(2) {
    h2 {
      margin-top: 0;
    }
  }
}

.dashboard__info-panel {
  background: var(--dashboard-info-bg);
  padding: 16px 32px;
  border-radius: var(--border-radius);
}

.dashboard__definitions {
  margin-top: var(--margin-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  dt {
    margin-top: var(--margin-lg);
    font-size: var(--text--lg);
    font-weight: bold;
  }

  dd {
    margin-top: var(--margin-sm);
  }
}

.file__export {
  background: var(--box-bg);
  border: 2px solid #acacac;
  border-radius: var(--border-radius);
  padding: var(--margin-md) 32px;
  margin-top: 24px;
  font-size: 18px;
}

.file__pdf-export {
  color: var(--main-text-c);

  h1 {
    text-align: center;
  }

  .file__pdf-export-window {
    align-items: center;
    flex: 1;
    padding: 32px;

    input,
    textarea {
      width: fit-content;
    }

    ul {
      margin-top: 8px;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        gap: 8px;

        &:before {
          color: var(--primary-c);
          content: " ■";
          font-size: 1.2em;
          font-weight: bold;
          line-height: 1em;
        }
      }

      li.task-list-item {
        display: flex;
        align-items: center;
        padding-left: 0;
        gap: 8px;

        &:has(input:checked) {
          text-decoration: line-through;
        }

        input {
          padding: 0;
          margin: 0;
          width: 1em;
          height: 1em;
          box-shadow: none;
          border: 1px solid var(--border-c);

          &:checked {
            background: var(--success);
          }
        }

        &:before {
          display: none;
        }
      }
    }

    ol {
      list-style-type: none;
      counter-reset: list;
    }

    ol li:before {
      color: var(--primary-c);
      counter-incement: list;
      content: counters(list, ".") ". ";
      font-weight: bold;
    }

    pre {
      font-family: monospace;
    }

    em {
      font-weight: normal;
      font-style: italic;
    }

    blockquote {
      padding: 16px 32px;
      margin: 16px auto;
      border: 2px solid var(--border-c);
      box-shadow: var(--box-shadow--md);
    }

    cite {
      line-height: 3;
      text-align: left;
    }
    del {
      text-decoration: line-through;
    }

    strong {
      font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      color: inherit;
      line-height: 1em;
      text-wrap: balance; // scss-lint:disable unknownProperties
    }

    * + h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.3em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      & + p {
        margin-top: 0.8em;
      }
    }

    h1 {
      margin-top: 0;
      font-size: 3em;
    }

    h2 {
      font-size: 2.532em;
    }

    h3 {
      font-size: 1.8em;
    }

    h4 {
      font-size: 1.52em;
    }

    h5 {
      font-size: 1.3em;
    }

    h6 {
      font-size: 1.125em;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .file {
    flex-direction: row;
  }
}
