.container--dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard {
  margin-top: var(--margin-md);
}

.dashboard__actions {
  margin-block: var(--margin-md);
}

.dashboard__file-controls {
  margin-block: var(--margin-lg);
}

.file {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: var(--margin-md);

  &--on-export {
    visibility: hidden;
  }
}

.file > * {
  flex: 1;
  max-height: 1000px;
  overflow-y: auto;
}

.file__editor {
  textarea {
    max-width: 100%;
  }
}

.file__export {
  background: var(--box-bg);
  border: 1px solid var(--border-c);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow--md);
  padding: var(--margin-md) 32px;
}

.file__pdf-export {
  color: var(--main-text-c);
  display: flex;
  justify-content: center;
  font-size: var(--text--md);
  letter-spacing: 0.2px;

  * {
    color: inherit;
  }

  h1 {
    text-align: center;
  }

  .file__pdf-export-window {
    align-items: center;
    flex: 1;
    max-width: min(100% - 3rem, 90ch);

    h1 {
      + * {
        margin-top: var(--margin-lg);
      }
    }
    input,
    textarea {
      width: fit-content;
    }

    ul {
      line-height: 1.5em;
      margin: 5px 0 15px;
      padding: 0;

      li {
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 12px;
          height: 12px;
          background-color: var(--ol-marker-bg);
        }
      }

      li.task-list-item {
        padding-left: 0;

        input {
          padding: 0;
          margin: 0 2px 0 0;
        }

        &:before {
          display: none;
        }
      }
    }

    ol {
      line-height: 1.5em;
      margin: 5px 0 15px;
      padding: 0;

      li {
        list-style-type: none;
        counter-increment: item;
        &::before {
          content: counter(item);
          margin-right: 5px;
          font-size: 80%;
          background-color: var(--ol-marker-bg);
          color: var(--ol-marker-c);
          font-weight: bold;
          padding: 3px 8px;
          border-radius: 3px;
        }
      }
    }

    pre {
      font-family: monospace;
    }

    code {
      background: var(--code-bg);
      color: var(--code-c);
      border: 1px solid var(--code-border-c);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow--md);
      display: flex;
      overflow: auto;
      padding: var(--code-p);
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .file {
    flex-direction: row;
  }
}
