.landing-page {
  padding: 0;
  margin: 0;
}

.hero__wrapper {
  background: var(--white-c);
}

.hero {
  padding: 64px 0;
  display: flex;
  gap: 8px;
  max-width: var(--container-w);
  margin: 0 auto;

  div {
    flex: 1;
    max-width: 90ch;
  }

  h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: var(--margin-sm);
  }

  p {
    font-size: var(--text--xl);
    line-height: 1.5em;
    max-width: 50ch;
  }

  p.hero__small-text {
    font-size: var(--text--lg);
  }

  &__image-wrapper {
    position: relative;
  }

  .hero__cta {
    margin-top: 32px;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.features__wrapper {
  background: var(--features-bg);
  padding: 64px 0;
}

.motto__wrapper {
  padding: 64px 0;
}

.motto {
  text-align: center;
}

.motto__icon {
  display: inline-flex;
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .features {
    grid-template-columns: 1fr;
  }
}
