body {
  padding: 0 1rem 1rem;
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--main-bg-color);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.box {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow--md);
  padding: 0.5rem 0.75rem;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}
