:root {
  --primary-color: #457b9d;
  --primary-shade-color: #daedee;
  --secondary-color: #3c153b;
  --main-bg-color: #f1faee;
  --main-text-color: #333;
  --link-color: #457b9d;

  /* Buttons */
  --primary-button-bg: #457b9d;
  --primary-button-bg-hover: #5293bc;
  --primary-button-text: #fefefe;
}
