.footer {
  background: var(--footer-bg);
  color: white;
  padding: var(--margin-md) 0;

  a,
  a:visited {
    color: var(--footer-link-c);
  }
}

.items {
  display: flex;
  gap: var(--margin-md);
  padding: 0;
  list-style: none;
}
