.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor {
  display: flex;
  flex-direction: column;
  > div {
    flex: 100%;
  }
}

.preview {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow--md);
  padding: 0 2rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .editor {
    flex-direction: row;

    > div {
      flex: 50%;
    }

    > div + div {
      margin-left: var(--margin--md);
    }

    .preview {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
