/* Buttons */
$button-default-bg-l: #fdfdfd;
$button-default-bg-d: #323232;

.button {
  /* Default */
  --button-default-bg: #{$button-default-bg-l};
  --button-default-bg-hover: #fff;
  --button-default-c: #323232;
  --btn-border-radius: 8px;

  /* Primary */
  --button-primary-bg: #{$primary-c};
  --button-primary-bg-hover: #{lighten($primary-c, 8%)};
  --button-primary-c: #fefefe;

  /* Generics */
  --button-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  appearance: none;
  border: none;
  border-radius: var(--btn-border-radius);
  box-shadow: var(--box-shadow--sm);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: var(--text--md);
  font-weight: bold;
  line-height: var(--text--md);
  max-width: 18.75rem;
  padding: 1em 2em;
  position: relative;
  transition: background-color var(--button-transition),
    box-shadow var(--button-transition);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-transform: uppercase;

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow--lg);
    text-decoration: none;
    transition: background-color var(--transition);
  }

  &:focus {
    outline: 1px transparent;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &:active {
    box-shadow: rgb(225 228 232 / 20%) 0 1px 0 inset;
    transition: none 0s;
  }

  &:-webkit-details-marker {
    display: none;
  }
}

.button-primary-large {
  @extend .button-primary;
  font-size: var(--text--lg);
  line-height: var(--text--lg);
}

.button-default {
  background: var(--button-default-bg);
  color: var(--button-default-c);

  &:hover,
  &:focus {
    background: var(--button-default-bg-hover);
  }
}

.button-primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-c);

  &:hover,
  &:focus {
    background: var(--button-primary-bg-hover);
  }
}

[data-theme="dark"] {
  .button {
    --button-default-bg: #{$button-default-bg-d};
    --button-default-bg-hover: #{lighten($button-default-bg-d, 8%)};
    --button-default-c: #ffffff;

    --button-primary-bg: #{$primary-c--dark};
    --button-primary-bg-hover: #{lighten($primary-c--dark, 8%)};
    --button-primary-c: #fefefe;
  }
}
