.button {
  appearance: none;
  border: 1px solid rgb(27 31 35 / 15%);
  border-radius: 0.375rem;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: var(--text-md);
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  max-width: 18.75rem;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
    transition: background-color var(--transition);
  }

  &:focus {
    outline: 1px transparent;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &:active {
    box-shadow: rgb(225 228 232 / 20%) 0 1px 0 inset;
    transition: none 0s;
  }

  &:-webkit-details-marker {
    display: none;
  }

  & + .button {
    margin-left: var(--margin--md);
  }
}

.button-default {
  background-color: var(--button-default-bg);
  color: var(--button-default-c);

  &:hover {
    background-color: var(--button-default-bg--hover);
  }

  &:active {
    background-color: var(--button-default-bg--active);
  }
}

.button-primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-c);

  &:hover {
    background: var(--button-primary-bg-hover);
  }
}
