.form-group {
  display: flex;
  flex-direction: column;
}
$toggle-indicator-size: 24px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;
$track-border: var(--accent-c);
$track-background: var(--light);
$focus-ring: 0px 0px 0px 2px var(--dark);

input,
textarea {
  box-sizing: border-box;
  font-size: var(--text-md);
  line-height: 1.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  outline-color: var(--primary-c);
  border: 1px solid var(--border-c);
  background-color: var(--box-bg);
  box-shadow: var(--box-shadow--md);
  padding: 0.5rem 0.75rem;
  caret-color: var(--accent-c);

  &::placeholder {
    font-size: var(--text--sm);
  }
}

input,
textarea {
  max-width: 18.75rem;
}

label {
  padding: 0.25rem 0;
  margin-left: 0.25rem;
}

textarea {
  overflow-y: hidden;
  resize: vertical;
}

.form-group .helper-text {
  margin-top: -8px;
}

.toggle-switch {
  align-items: center;
  background: var(--code-bg);
  border: 1px solid var(--code-border-c);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  gap: 8px;
  max-width: fit-content;
  padding: 8px 16px;
  user-select: none;
  margin: 0;

  input {
    display: none;
    margin: 0;
    padding: 8px;
  }

  &__icon {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
