.form-group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.form-group + .form-group {
  margin-top: 16px;
}

.form-group {
  --input-bg: #fff;
  --input-border-c: #acacac;
  --input-border-c--focus: var(--primary-c);
  --input-label-c: #7b7b7b;
  --input-caret-c: var(--primary-c);
}

[data-theme="dark"] {
  .form-group {
    --input-bg: #7c7c7c;
    --input-bg: #383838;
    --input-border-c: #1f1f1f;
  }
}

.form-group__helper-text {
  color: var(--helper-text);
  margin-top: -4px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label {
  color: var(--input-label-c);
}

.form-field__input {
  background-color: var(--input-bg);
  border: 2px solid var(--input-border-c);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  caret-color: var(--input-caret-c);
  font-size: var(--text-md);
  line-height: 1.5rem;
  margin-top: 4px;
  outline-color: var(--input-border-c);
  padding: 8px 12px;
  transition: border var(--transition);
  width: 100%;

  &:focus,
  &:hover {
    border-color: var(--input-border-c--focus);
  }

  &::placeholder {
    font-size: var(--text--sm);
  }
}

textarea {
  overflow-y: hidden;
  resize: vertical;
}

.theme-switcher {
  align-items: center;
  background: var(--theme-switcher-bg);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  gap: 8px;
  max-width: fit-content;
  padding: 8px 16px;
  user-select: none;
  margin: 0;

  input {
    display: none;
    margin: 0;
    padding: 8px;
  }

  span {
    display: inline-flex;
  }

  &__icon {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
