.form-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  box-sizing: border-box;
  font-size: var(--font-md);
  line-height: 1.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  outline-color: var(--primary-color);
  border: 1px solid var(--border-color);
  background-color: var(--box-bg);
  box-shadow: var(--box-shadow--md);
  padding: 0.5rem 0.75rem;

  &::placeholder {
    font-size: var(--text--sm);
  }
}

input {
  max-width: 18.75rem;
}

label {
  padding: 0.25rem 0;
  margin-left: 0.25rem;
}

textarea {
  overflow-y: hidden;
  resize: vertical;
}

.form-group .helper-text {
  margin-top: -8px;
}
