body {
  min-height: 100vh;
  margin: 0 auto;
  background: var(--main-bg-c);
}

::selection {
  background-color: var(--accent-c);
  color: var(--white-c);
}

.container {
  margin: 0 auto;
  max-width: var(--container-w);
  padding: 0 16px;
}

.container--text-only {
  max-width: 90ch;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.box {
  border: 1px solid var(--border-c);
  background-color: var(--box-bg);
  box-shadow: var(--box-shadow--md);
  padding: 0.5rem 0.75rem;
}

main {
  padding: var(--margin-md) 0;
}

.documentation {
  section + section {
    margin-top: 64px;
  }

  section:last-of-type {
    margin-bottom: 64px;
  }
}

.mt-sm {
  margin-top: var(--margin-sm);
}

.mt-md {
  margin-top: var(--margin-md);
}

.mt-lg {
  margin-top: var(--margin-lg);
}

.mt-xl {
  margin-top: var(--margin-xl);
}
