body {
  padding: 0 1rem 1rem;
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--main-bg-c);
}

::selection {
  background-color: var(--accent-c);
  color: var(--white-c);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.box {
  border: 1px solid var(--border-c);
  background-color: var(--box-bg);
  box-shadow: var(--box-shadow--md);
  padding: 0.5rem 0.75rem;
}
