ul,
ol {
  ::marker {
    color: var(--marker-c);
    font-weight: bold;
  }
}

ul {
  list-style: inside square;
}

ol {
  list-style: inside decimal;
}

li {
  font-size: var(--text--md);
  line-height: 1.5rem;
}
