.tabs ul {
  display: flex;
  gap: var(--margin-md);
  list-style-type: none;
  padding-inline: 0;
  border-bottom: 1px solid var(--border-c);
}

.tab button {
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  color: var(--main-text-c);
  cursor: pointer;
  padding: var(--box-p);
}

.tab {
  border-bottom: 1px solid transparent;
  transition: border-color var(--transition);

  &--is-active {
    border-bottom-color: var(--primary-c);
  }
}
