@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Montserrat-Regular.woff2") format("woff2"),
    url("../../assets/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Montserrat";
}

body {
  color: var(--main-text-color);
  font-size: var(--text--md);
}

a,
a:visited {
  font-weight: 500;
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-color);
}

h1 {
  font-size: var(--text--3xl);
}

h2 {
  font-size: var(--text--2xl);
}

h3 {
  font-size: var(--text-xl);
}

li,
p {
  font-size: var(--text--md);
  line-height: 1.5rem;
}

.small {
  font-size: var(--text--xs);
}
