html {
  color: var(--main-text-c);
  font-size: 16px;
}

em {
  color: var(--primary-c);
  font-weight: bold;
}

a,
a:visited {
  font-weight: 500;
  color: var(--link-c);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1em;
  text-wrap: balance; // scss-lint:disable unknownProperties

  & + p {
    margin-top: var(--margin-md);
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--main-subheading-c);
}

h1 {
  color: var(--main-heading-c);
  margin-top: 0;
  font-size: var(--text--4xl);
}

h2 {
  font-size: var(--text--3xl);
}

h3 {
  font-size: var(--text--2xl);
}

h4 {
  font-size: var(--text--xl);
}

h5 {
  font-size: var(--text--lg);
}

h6 {
  font-weight: bold;
  font-size: var(--text--md);
}

p {
  font-size: var(--text--md);
  line-height: 1.5rem;
  max-width: 90ch;
}

p + p {
  margin-top: var(--margin-sm);
}

strong {
  font-weight: bold;
}

.small {
  font-size: var(--text--xs);
}

code {
  background: var(--code-bg);
  color: var(--code-c);
  border: 1px solid var(--code-border-c);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow--md);
  display: flex;
  overflow: auto;
  white-space: pre-line;
  padding: var(--code-p);
}
