/** Breakpoints **/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-c: #1789fc;
$primary-c--dark: #2b3130;
$primary-c--light: #cce9e5;

:root {
  --container-w: 1400px;
  --success: #579e65;
  --primary-c: #{$primary-c};

  --accent-c: #7cc6fe;
  --white-c: #fff;
  --box-bg: #fff;
  --primary-shade-c: #ebf6ff;
  --main-bg-c: #f9f9f9;
  --main-text-c: #1e1e1e;
  --main-heading-c: #0f0f0f;
  --main-subheading-c: #1e1e1e;

  --marker-c: #{$primary-c};

  --helper-text: #7b7b7b;
  --link-c: #3f95b1;
  --border-c: #ebf5ff;

  /* Header */
  --header-bg: #fff;
  --header-c: #131313;
  --theme-switcher-bg: #9eceff;

  /* Features */
  --features-bg: #{$primary-c--light};

  /* Footer */
  --footer-bg: #131313;
  --footer-link-c: #4fbee3;

  /** Margins **/
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;

  --box-p: 8px var(--margin-md);
  --border-radius: 8px;
  --box-shadow--sm: rgba(100, 100, 100, 0.08) 0px 2px 3px;
  --box-shadow--md: rgba(100, 100, 100, 0.2) 0px 2px 3px;
  --box-shadow--lg: rgba(100, 100, 100, 0.38) 0px 2px 3px;

  /** Code **/
  --code-bg: #383838;
  --code-c: #fff;
  --code-border-c: #1f1f1f;
  --code-p: var(--margin-md);

  /** Typography **/
  --text--xs: 0.64rem;
  --text--sm: 0.8rem;
  --text--md: 1rem;
  --text--lg: 1.25rem;
  --text--xl: 1.563rem;
  --text--2xl: 1.953rem;
  --text--3xl: 2.44rem;
  --text--4xl: 3.052rem;
  --text--5xl: 4rem;

  /** Transition **/
  --transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

[data-theme="dark"] {
  --primary-c: #{$primary-c--dark};
  --accent-c: #00ccff;
  --white-c: #323232;
  --box-bg: #323232;
  --primary-shade-c: #191919;
  --main-bg-c: #1e1e1e;
  --main-text-c: #eeeeee;
  --main-heading-c: #fff;
  --main-subheading-c: #fefefe;

  --marker-c: #fff;
  --link-c: #4fbee3;
  --border-c: #2e2e2e;

  /* Header */
  --header-bg: #151515;
  --header-c: #fff;
  --theme-switcher-bg: #0d0d0d;

  /* Hero */
  --box-shadow--md: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
  --box-shadow--lg: 0px 3px 15px rgba(0, 0, 0, 0.2);

  /* Features */
  --features-bg: #{$primary-c--dark};

  /* Footer */
  --footer-bg: #080808;

  /** Code **/
  --code-bg: #383838;
  --code-c: #fff;
  --code-border-c: #1f1f1f;
}
