/** Breakpoints **/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-c: #579e65;
$primary-c--dark: #579e65;

:root {
  --container-w: 1400px;
  --light: #fcfcfc;
  --dark: #131313;
  --success: #579e65;

  --primary-c: #{$primary-c};
  --accent-c: #7cc6fe;
  --white-c: #fff;
  --box-bg: #fff;
  --primary-shade-c: #ebf6ff;
  --main-bg-c: #fcfcfc;
  --main-text-c: #4f4f4f;
  --main-heading-c: #323232;
  --input-bg: #fff;
  --ol-marker-bg: #{lighten($primary-c, 8%)};
  --ol-marker-c: #fff;

  /* Hero */
  --hero-bg: #e8ffeb;
  --hero-h1-c: #1e1e1e;
  --hero-h2-c: #414141;

  --link-c: #0b3948;
  --border-c: #dfdfdf;

  /* Header */
  --header-bg: #fff;
  --header-c: #131313;

  /* Footer */
  --footer-bg: #131313;
  --footer-link-c: #4fbee3;

  /** Margins **/
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;

  --box-p: 8px var(--margin-md);
  --border-radius: 8px;
  --box-shadow--md: rgba(0, 0, 0, 0.1) 0px 1px 8px;
  --box-shadow--md: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  --box-shadow--lg: rgba(0, 0, 0, 0.18) 0px 2px 8px;

  /** Code **/
  --code-bg: #383838;
  --code-c: #fff;
  --code-border-c: #1f1f1f;
  --code-p: var(--margin-md);

  /** Typography **/
  --text--xs: 0.64rem;
  --text--sm: 0.8rem;
  --text--md: 1rem;
  --text--lg: 1.25rem;
  --text--xl: 1.563rem;
  --text--2xl: 1.953rem;
  --text--3xl: 2.44rem;
  --text--4xl: 3.052rem;
  --text--5xl: 4rem;

  /** Transition **/
  --transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

[data-theme="dark"] {
  --primary-c: #{$primary-c--dark};
  --accent-c: #00ccff;
  --white-c: #323232;
  --box-bg: #323232;
  --primary-shade-c: #191919;
  --main-bg-c: #1e1e1e;
  --main-text-c: #eeeeee;
  --main-heading-c: #fefefe;

  --ol-marker-bg: #{lighten($primary-c--dark, 8%)};
  --ol-marker-c: #fff;
  --link-c: #4fbee3;
  --border-c: #2e2e2e;
  --input-bg: #383838;
  --input-border-c: #1f1f1f;

  /* Hero */
  --hero-bg: #343b35;
  --hero-h1-c: #fff;
  --hero-h2-c: #dddddd;

  --box-shadow--md: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
  --box-shadow--lg: 0px 3px 15px rgba(0, 0, 0, 0.2);

  /* Header */
  --header-bg: #151515;
  --header-c: #fff;

  /* Footer */
  --footer-bg: #080808;

  /** Code **/
  --code-bg: #383838;
  --code-c: #fff;
  --code-border-c: #1f1f1f;
}
