/** Breakpoints **/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

:root {
  --primary-c: #457b9d;
  --accent-c: #00ccff;
  --white-c: #fff;
  --box-bg: #fff;
  --primary-shade-c: #daedee;
  --main-bg-c: #f7f5ff;
  --main-text-c: #4f4f4f;
  --main-heading-c: #131313;

  --bullet-list-bg: #a2c7dd;
  --bullet-list-c: #fff;

  --link-c: #457b9d;
  --border-c: #dfdfdf;

  /* Buttons */
  --button-default-bg: #fafbfc;
  --button-default-bg--hover: #fafbfc;
  --button-default-bg--active: #fff;

  --button-default-c: #131313;
  --button-primary-bg: #457b9d;
  --button-primary-bg-hover: #5293bc;
  --button-primary-c: #fefefe;

  /** Margins **/
  --margin--sm: 0.375rem;
  --margin--md: 0.5rem;
  --margin--lg: 0.75rem;
  --margin--xl: 1rem;

  --box-p: 8px 16px;
  --border-radius: 8px;
  --box-shadow--md: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
  --box-shadow--lg: 0px 3px 15px rgba(0, 0, 0, 0.2);

  /** Code **/
  --code-bg: #383838;
  --code-c: #fff;
  --code-border-c: #1f1f1f;
  --code-p: 16px;

  /** Typography **/
  --text--xs: 0.64rem;
  --text--sm: 0.8rem;
  --text--md: 1rem;
  --text--lg: 1.25rem;
  --text--xl: 1.563rem;
  --text--2xl: 1.953rem;
  --text--3xl: 2.44rem;
  --text--4xl: 3.052rem;

  /** Transition **/
  --transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-c: #457b9d;
    --accent-c: #00ccff;
    --white-c: #323232;
    --box-bg: #323232;
    --primary-shade-c: #191919;
    --main-bg-c: #1e1e1e;
    --main-text-c: #fff;
    --main-heading-c: #fff;

    --bullet-list-bg: #3e528e;
    --bullet-list-c: #fff;

    --link-c: #78b1d5;
    --border-c: #262626;

    /* Buttons */
    --button-default-bg: #fafbfc;
    --button-default-bg--hover: #fafbfc;
    --button-default-bg--active: #fff;

    --button-default-c: #fff;
    --button-primary-bg: #457b9d;
    --button-primary-bg-hover: #5293bc;
    --button-primary-c: #fefefe;

    --box-shadow--md: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
    --box-shadow--lg: 0px 3px 15px rgba(0, 0, 0, 0.2);

    /** Code **/
    --code-bg: #383838;
    --code-c: #fff;
    --code-border-c: #1f1f1f;
  }
}
